<h1>Cte's Rodoviários</h1>

<%= link_to 'Importar', prepare_to_import_rodo_ctes_path %>
<%# <%= link_to 'Novo Rodo Cte', new_rodo_cte_path %>
<hr />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Cte</th>
      <th>Emitido em</th>
      <th>Valor</th>
      <th>Peso</th>
      <th>Saldo de Peso</th>
    </tr>
  </thead>

  <tbody>
    <% @rodo_ctes.each do |rodo_cte| %>
      <tr>
        <td><%= link_to "#{rodo_cte.number}/#{rodo_cte.series}", rodo_cte %></td>
        <td><%= rodo_cte.emitted_at %></td>
        <td><%= rodo_cte.amount %></td>
        <td><%= rodo_cte.weight %></td>
        <td><%= rodo_cte.weight_balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
