<h1>Cte's Ferroviários</h1>

<%= link_to 'Importar', prepare_to_import_ferro_ctes_path %>
<%# <%= link_to 'New Ferro cte', new_ferro_cte_path %>
<hr />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Cte</th>
      <th>Peso</th>
      <th>Saldo de Peso</th>
    </tr>
  </thead>

  <tbody>
    <% @ferro_ctes.each do |ferro_cte| %>
      <tr>
        <td><%= link_to "#{ferro_cte.number}-#{ferro_cte.series}", ferro_cte %></td>
        <td><%= ferro_cte.weight %></td>
        <td><%= ferro_cte.weight_balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
