<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @ferro_cte.number %>
</p>

<p>
  <strong>Series:</strong>
  <%= @ferro_cte.series %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @ferro_cte.weight %>
</p>

<%= link_to 'Edit', edit_ferro_cte_path(@ferro_cte) %> |
<%= link_to 'Back', ferro_ctes_path %>
